// Reset de márgenes y paddings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Estilos globales básicos
  body {
    font-family: $font-family-sans-serif;
    background-color: #f8f9fa; // Fondo global
    color: #212529; // Texto global
  }
  