// Sobrescribe variables de Bootstrap
$primary: #3498db; // Cambiar el color primario
$secondary: #2ecc71; // Cambiar el color secundario
$font-family-sans-serif: 'Roboto', Arial, sans-serif; // Cambiar fuente
