$font-primary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-secondary: Arial, Helvetica, sans-serif;
$color-primary: #179fcd;
$color-secondary: #6c757d;
$color-white: #ffffff;
$color-black: #000000;

$btn-border-radius: 30px;
$transition: 0.3s ease;

