@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.navbar {
  background-color: vars.$color-white;
  padding: 2em;

  &-brand {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      max-width: 320px;
      height: 76px;
    }
  }

  .nav-link {
    font-size: 1.2rem;
    font-family: vars.$font-secondary;
    font-weight: bold;
    color: vars.$color-secondary;
    text-decoration: none;
    @include mixins.transition(color);

    &:hover {
      color: vars.$color-primary;
    }

    &.active {
      color: vars.$color-primary;
    }
  }

  .btn.ml-auto {
    margin-left: auto;
  }

  
}
